{% extends "header.html" %}
{% block body %}
 <div class="container" style="padding-top:20px;">
   <div class="row">
   <div class="col-md-9">
    <div class="form-group">
          <label cass="col-lg-3 control-label">Password:</label>
             <div class="col-lg-8">
        <input class="form-control" type="password" placeholder="password" name="password">
            </div><!-- cosing col-lg-8-->
        </div><!-- closing form-group-->
        <div class="form-group">
          <label cass="col-lg-3 control-label">Confirm Password:</label>
             <div class="col-lg-8">
        <input class="form-control" type="password" placeholder="password" name="password2">
            </div><!-- cosing col-md-8-->
        </div><!-- closing form-group-->
        <div class="form-group">
          <label class="col-lg-3 control-label"></label>
          <div class="col-lg-8"> 
          <input type="button" class="btn btn-primary" value="Submit">
          <input type="reset" class="btn btn-default" value="Cancel">

          </div>
          </div>
      </div>
    </div>  
 </div>

{% endblock %}