{% extends "header.html"%}
{% block body %}
<div class="container" style="padding-top:20px;">
     <h1>Edit Profile</h1>
     <hr>
<form method='POST' class="form-horizontal" enctype=multipart/form-data>
     <div class="row">
      <!-- left column -->
      <div class="col-md-3">
       <div class="text-center">
          {% if user_info[12] %}           
            <img alt="User Pic" src="{{url_for('static',filename="user_info[12]")}}" id="profile-image1" class="img-circle img-responsive">          
          {% else %}
            <img alt="User Pic" src={{url_for('static',filename="download.jpg")}} id="profile-image1" class="img-circle img-responsive">
          {% endif %} 
          <h6>Upload a diiferent picture</h6>
          <input type="file" class="form-control" name="pic"></div>
         </div><!-- end of left column-->
     <!-- right coulmn for enteries --> 
    <div class="col-md-9 personal-info">
 {% with messages = get_flashed_messages() %}
          {% if messages %}         
            {% for i in messages %}
                {{i}}
            {% endfor %} 
          {% endif %}
  {% endwith %}
        <div><h3>Personal Info</h3></div>
    
        <div class="form-group">
        <label class="col-lg-3 control-label">First name:</label>
             <div class="col-lg-8">
               <input class="form-control" type="text" value={{user_info[3]}} name="firstName">
            </div><!-- closing col-lg-8-->
         </div><!-- closing form-group-->
         <div class="form-group">
          <label class="col-lg-3 control-label">Last name:</label>
             <div class="col-lg-8">
                <input class="form-control" type="text" value={{user_info[4]}} name="lastName">
            </div><!-- cosing col-md-8-->
        </div><!-- closing form-group-->   
      
     
       <div class="form-group">
          <label class="col-lg-3 control-label">Address 1:</label>
             <div class="col-lg-8">
       <input class="form-control" type="text" value={{user_info[5]}} name="address1">
            </div><!-- cosing col-lg-8-->
        </div><!-- closing form-group-->
       <div class="form-group">
          <label class="col-lg-3 control-label">Address2:</label>
             <div class="col-lg-8">
       <input class="form-control" type="text" value={{user_info[6]}} name="address2">
            </div><!-- cosing col-lg-8-->
        </div><!-- closing form-group-->
      <div class="form-group">
          <label class="col-lg-3 control-label">Phone:</label>
             <div class="col-lg-8">
       <input class="form-control" type="text" value={{user_info[11]}} name="phone">
            </div><!-- cosing col-md-8-->
        </div><!-- closing form-group-->
        <div class="form-group">
          <label class="col-lg-3 control-label">City:</label>
             <div class="col-lg-8">
       <input class="form-control" type="text" value={{user_info[8]}} name="city">
            </div><!-- cosing col-md-8-->
        </div><!-- closing form-group-->
        <div class="form-group">
          <label class="col-lg-3 control-label">Zipcode:</label>
             <div class="col-lg-8">
       <input class="form-control" type="text" name="zipcode" value={{user_info[7]}}>
            </div><!-- cosing col-lg-8-->
        </div><!-- closing form-group-->
        <div class="form-group">
          <label class="col-lg-3 control-label">State:</label>
             <div class="col-lg-8">
        <input class="form-control" type="text" value={{user_info[9]}} name="state">
            </div><!-- cosing col-md-8-->
        </div><!-- closing form-group-->
        <div class="form-group">
          <label class="col-lg-3 control-label">Country:</label>
             <div class="col-lg-8">
        <input class="form-control" type="text" value={{user_info[10]}} name="country">
            </div><!-- cosing col-md-8-->
        </div><!-- closing form-group-->
        
        <div class="form-group">
          <label class="col-lg-3 control-label"></label>
          <div class="col-lg-8"> 
          <input type="submit" class="btn btn-primary" value="Save">
          <input type="reset" class="btn btn-default" value="Cancel">
          </div>
          </div>

      

        </div> <!-- closing right column col-md-9 -->
  </div> <!-- closing row -->

 </form> <!-- closing form -->
</div><!-- closing container-->


{% endblock %}
